.profile{
    background-color: #fff;
    border-radius:10px;
    width:100%;
    display: inline-block;
}
.profile_name{
    line-height: 18px;
    padding: 20px;
}
.profile_name .name{
    text-transform: uppercase;
    font-size: 17px;
    font-weight:bold;
}
.profile_name .title{
    font-size:14px;
    color: #757376;
}
.profile_image{
    margin-top:0px;
    -webkit-clip-path: polygon(0 9%, 100% 0 , 100% 94% , 0% 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 94% , 0% 100%);
}
.profile_image img{
    width:100%;
}