.form {
    height: 100vh !important;
    display: flex !important;
    
    flex-direction: column !important;
    justify-content: center !important;
  }
  
  .form > h1 {
    margin-bottom: 30px !important;
    font-size: 30px !important;
    align-items: center !important;
    /* justify-content: center !important; */
    margin-left: 270px !important;
  }
  
  .form > input,
  textarea {
    padding: 20px !important;
    border-radius: 3px !important;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137) !important; */
    margin-bottom: 20px !important;
    border: 1px solid lightgray !important;
    /* border: none !important; */
    background: #fff !important;
    font-size: 16px !important;
    color: rgb(0, 0, 32) !important;
    outline: none !important;
    width: 400px !important;
    margin-left: 190px !important;
  }
  
  .form > input:focus,
  textarea:focus {
    border: 1px solid rgb(0, 0, 196) !important;
  }
  
  .form > textarea {
    height: 150px !important;
    max-width: 400px !important;
    min-height: 100px !important;
  }
  
  .form > label {
    padding-bottom: 10px !important;
    color: rgb(0, 0, 32) !important;
    font-weight: bold !important;
    margin-left: 190px !important;
  }
  
  .form > button {
    /* padding: 20px !important; */
    border: none !important;
    background-color:#111161;
    font-weight: 500 !important;
    font-size: 20px !important;
    border-radius: 50px !important;
    color: white !important;
    cursor: pointer !important;
    transition: 0.2s ease-in-out !important;
    margin-top: 10px !important;
    width: 150px !important;
    margin-left: 290px !important;
  }
  
  .form > button:hover {
    background-color: #ffc500;
  }