.contact-form > button {
  /* padding: 20px !important; */
  border: none !important;
  background-color: #111161;
  font-weight: 500 !important;
  font-size: 15px !important;
  border-radius: 50px !important;
  color: white !important;
  cursor: pointer !important;
  transition: 0.2s ease-in-out !important;
  margin-top: 10px !important;
  width: 120px !important;
  margin-left: 60px !important;
  padding: 10px !important;
}

.contact-form{
  
}

.contact-form > button:hover {
  background-color: #ffc500;
}

.heading-contact{
  position:relative;
  display:inline-block;
  padding: 0 3px !important;
}

.heading-contact span {
  position: absolute;
  height: 3px;
  width: 100%;
  margin-bottom:4px !important;
  bottom: 0;
  opacity: 0.7;
  left: 0;
  background-color: var(--main-color);
}

.heading-contact{
  margin-left: 30px !important;
  margin-top: 10px !important;
}

input{
  border: 0;
  border-bottom: solid 1px #dfdfdf!important;
  width:100px !important;
  margin-left: 30px !important;
}

textarea{
  border: 0;
  border-bottom: solid 1px #dfdfdf!important;
  width:100px !important;
  margin-left: 30px !important;
  margin-top: 10px !important;
  padding: 5px;
}

.input-message{
  margin-top: 10px !important;
  width: 230px !important;
}